services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Altairis12345!"
    ports:
      - "1433:1433"
    volumes:
      - altairis_mssql:/var/opt/mssql

  api:
    build:
      context: ./backend/Altairis.Backoffice/Altairis.Api
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ConnectionStrings__Default: "Server=db,1433;Database=AltairisDb;User Id=sa;Password=Altairis12345!;Encrypt=False;TrustServerCertificate=True"
    ports:
      - "8080:8080"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      API_INTERNAL_BASE: "http://api:8080"
    ports:
      - "3000:3000"
    depends_on:
      - api

volumes:
  altairis_mssql:
